
terraform {
[[ with .Terraform.Backend -]]
  backend "[[ .Type ]]" {
    [[- with .Local ]]
    path = "[[ .Path ]]"
    workspace_dir = "[[ .Workspace ]]"
    [[- end ]]
  }
[[- end ]]
}

[[ if .Terraform.HasProvider "hetznerdns" -]]
module "hetznerdns" {
   source = "github.com/bitshifted/liftoff-tf-modules//hetzner-dns?ref=v1.5.1"
   hcloud_dns_zones = [
   [[- range .ProcessingVars.hcloud_dns_zones ]]
     {
        name = "[[ .name ]]"
        [[- with .ttl ]]
        ttl = [[ . ]]
        [[- end ]]
     },
   [[- end ]]
   ]
   hcloud_dns_records = [
   [[- range .ProcessingVars.hcloud_dns_records ]]
   {
     zone = "[[ .zone ]]"
     name = "[[ .name ]]"
     type = "[[ .type ]]"
     value = "[[ .value ]]"
     [[- with .ttl ]]
     ttl = [[ . ]]
     [[- end ]]
   },
   [[- end ]]
   ]
}
[[- end ]]

[[ if .Terraform.HasProvider "digitalocean" -]]
module "digitalocean" {
    source = "github.com/bitshifted/liftoff-tf-modules//digitalocean-dns?ref=v1.5.1"
    do_dns_domains = [
    [[- range .ProcessingVars.do_dns_domains ]]
    {
        name = "[[ .name ]]"
        [[- with .ip_address ]]
        ip_address = [[ . ]]
        [[- end ]]
    },
    [[- end ]]
    ]
    do_dns_records = [
    [[- range .ProcessingVars.do_dns_records ]]
    {
      zone = "[[ .zone ]]"
      name = "[[ .name ]]"
      type = "[[ .type ]]"
      value = "[[ .value ]]"
    },
    [[- end ]]
    ]
}
[[- end ]]

[[ if .Terraform.HasProvider "cloudflare" -]]
module "cloudflare_dns" {
    source = "github.com/bitshifted/liftoff-tf-modules//cloudflare-dns?ref=v1.5.1"
    cf_dns_zones = [
    [[- range .ProcessingVars.cf_dns_zones ]]
    {
        name = "[[ .name ]]"
        account_id = [[ .account_id ]]
    },
    [[- end ]]
    ]
    cf_dns_records = [
    [[- range .ProcessingVars.cf_dns_records ]]
    {
      zone = "[[ .zone ]]"
      name = "[[ .name ]]"
      type = "[[ .type ]]"
      value = "[[ .value ]]"
      [[- with .ttl ]]
      ttl = [[ . ]]
      [[- end ]]
    },
    [[- end ]]
    ]
}
[[- end ]]