# Required Terraform providers

terraform {
[[ with .Terraform.Backend -]]
  backend "[[ .Type ]]" {
    [[- with .Local ]]
    path = "[[ .Path ]]"
    workspace_dir = "[[ .Workspace ]]"
    [[- end ]]
  }
[[- end ]]
  required_providers {
[[- with .Terraform.Providers.Hcloud -]]
    # Hetzner Cloud provider
    hcloud = {
      source  = "hetznercloud/hcloud"
      version = "~> 1.45"
  }
[[ end -]]
[[ with .Terraform.Providers.HetznerDNS ]]
    # Hetzner DNS provider
    hetznerdns = {
      source = "germanbrew/hetznerdns"
      version = "3.1.7"
    }
[[- end ]]
   }
}
