---
- name: Configure NAT gateway
  hosts: all
  become: true
  roles:
    - nat-gateway
    - role: ssh-config
      [[ with .ProcessingVars.bastion_host ]]bastion_host: [[ . ]][[ end ]]
    - role: ufw
      [[ with .ProcessingVars.enable_packet_routing ]]enable_packet_routing: [[ . ]][[ end ]]
      [[ with .ProcessingVars.private_interfaces ]]private_interfaces: 
      [[- range . ]]
        - [[ . ]]
      [[- end ]]
      [[ end ]]
