---
- name: Configure Postgresql server
  hosts: all
  become: true
  roles:
    - role: backend-nat
      gateway_ip: [[ .ProcessingVars.gateway_ip ]]
      [[ with .ProcessingVars.dns_servers ]]dns_servers: [[ . ]] [[ end ]]
    - ssh-config
    - role: postgresql
      [[ with .ProcessingVars.pg_hba_allowed_addresses ]]pg_hba_allowed_addresses: "[[ . ]]" [[ end ]]
      [[ with .ProcessingVars.pg_user_password ]]pg_user_password: "[[ . ]]" [[ end ]]
      [[ with .ProcessingVars.pg_version ]]pg_version: "[[ . ]]" [[ end ]]
      [[ with .ProcessingVars.pg_port ]]pg_port: [[ . ]] [[ end ]]
    - role: ufw
      [[ with .ProcessingVars.ssh_allowed_ip ]]ssh_allowed_ip: "[[ . ]]" [[ end ]]
      [[ with .ProcessingVars.ufw_rules ]]ufw_rules:
      [[- range . ]]
        - port: [[ .port ]]
          proto: "[[ .proto ]]"
          from_ip: [[ .from _ip]]
      [[ - end ]]
      [[ end ]]

