---
- name: Configure Postgresql server
  hosts: all
  become: true
  roles:
    - role: backend-nat
      [[- with .ProcessingVars.gateway_ip ]]
      gateway_ip: "[[ . ]]" 
      [[- end ]]
      [[- with .ProcessingVars.dns_servers ]]
      dns_servers: [[ . ]] 
      [[- end ]]
    - role: ssh-config
    - role: postgresql
      [[- with .ProcessingVars.pg_user_password ]]
      pg_user_password: "[[ . ]]"
      [[- end ]]
      [[- with .ProcessingVars.pg_version ]]
      pg_version: "[[ . ]]"
      [[- end ]]
      [[- with .ProcessingVars.pg_port ]]
      pg_port: [[ . ]] 
      [[- end ]]
      [[- with .ProcessingVars.localhost_only ]]
      localhost_only: [[ . ]] 
      [[- end ]]
      db_users:
      [[- range .ProcessingVars.db_users ]]
        - username: "[[ .username ]]"
          password: "[[ .password ]]" 
      [[- end ]]
      databases:
      [[- range .ProcessingVars.databases ]]
        - db_name: "[[ .db_name ]]"
          owner: "[[ .owner ]]" 
      [[- end ]]
      db_privileges:
      [[- range .ProcessingVars.db_privileges ]]
        - db_name: "[[ .db_name ]]"
          roles: "[[ .roles ]]"
          privileges: "[[ .privileges ]]"
          grant_option: [[ .grant_option ]]
      [[- end ]]
      operations:
      [[- range .ProcessingVars.operations ]]
        - [[ . ]]
      [[- end ]]
    - role: ufw
      [[ with .ProcessingVars.ssh_allowed_ip ]]ssh_allowed_ip: "[[ . ]]" [[- end ]]
      ufw_rules:
      [[- range .ProcessingVars.server_info ]]
        [[- range .private_net_info ]]
        - port: [[ or $.ProcessingVars.pg_port 5432 ]]
          proto: "tcp"
          from_ip: [[ .ip_range ]]
        [[- end ]]
      [[- end ]]

