[[- with .Terraform.Backend -]]
terraform {
  backend "[[ .Type ]]" {
    [[- with .Local ]]
    path = "[[ .Path ]]"
    workspace_dir = "[[ .Workspace ]]"
    [[- end ]]
  }
}
[[- end ]]

[[- if .Terraform.HasProvider "hcloud" -]]
module "hcloud_compute" {
    source = "github.com/bitshifted/liftoff-tf-modules//hcloud-compute?ref=v1.5.0"
    [[- with .ProcessingVars ]]
        # Configuration for hcloud server
        [[- with .hcloud_server_config ]]
    hcloud_server_config = {
            [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        location = "[[ . ]]"
            [[- end ]]
            [[- with .datacenter ]]
        datacenter = "[[ . ]]"
            [[- end ]]
        user_data_file_path =  "[[- or .user_data_file_path "./cloud-config.yaml" ]]"
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- if not (eq .enable_public_ipv4 nil) ]]
        enable_public_ipv4 = [[ .enable_public_ipv4 ]]
            [[- end ]]
             [[- if not (eq .enable_public_ipv6 nil) ]]
        enable_public_ipv6 = [[ .enable_public_ipv6 ]]
            [[- end ]]
            [[- with .labels ]]
        labels = {
                [[- range $key, $value := . ]]
            "[[ $key ]]" = "[[ $value ]]"
                [[- end ]]
        }
            [[- end ]]
            [[- if not (eq .keep_disk nil) ]]
        keep_disk = [[ .keep_disk ]]
            [[- end ]]
            [[- if not (eq .enable_backups nil) ]]
        enable_backups = [[ .enable_backups ]]
            [[- end ]]
            [[- if not (eq .enable_delete_protection nil) ]]
        enable_delete_protection = [[ .enable_delete_protection ]]
            [[- end ]]
            [[- with .dns_zone ]]
        dns_zone = "[[ . ]]"
            [[- end ]]
            [[- with .private_networks ]]
        private_networks = [
                [[- range . ]]
            "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .num_servers ]]
        num_servers = [[ . ]]
            [[- end ]]
    }
        [[- end ]]
        # Configuration for hcloud server list
        [[- with .hcloud_server_list ]]
    hcloud_server_list = [
            [[- range . ]]
        {
                [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        location = "[[ . ]]"
            [[- end ]]
            [[- with .datacenter ]]
        datacenter = "[[ . ]]"
            [[- end ]]
        user_data_file_path =  "[[- or .user_data_file_path "./cloud-config.yaml" ]]"
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- if not (eq .enable_public_ipv4 nil) ]]
        enable_public_ipv4 = [[ .enable_public_ipv4 ]]
            [[- end ]]
             [[- if not (eq .enable_public_ipv6 nil) ]]
        enable_public_ipv6 = [[ .enable_public_ipv6 ]]
            [[- end ]]
            [[- with .labels ]]
        labels = {
                [[- range $key, $value := . ]]
            "[[ $key ]]" = "[[ $value ]]"
                [[- end ]]
        }
            [[- end ]]
            [[- if not (eq .keep_disk nil) ]]
        keep_disk = [[ .keep_disk ]]
            [[- end ]]
            [[- if not (eq .enable_backups nil ) ]]
        enable_backups = [[ .enable_backups ]]
            [[- end ]]
            [[- if not (eq .enable_delete_protection nil) ]]
        enable_delete_protection = [[ .enable_delete_protection ]]
            [[- end ]]
             [[- with .dns_zone ]]
        dns_zone = "[[ . ]]"
            [[- end ]]
            [[- with .private_networks ]]
        private_networks = [
                [[- range . ]]
            "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
        },
            [[- end ]]
    ]
        [[- end ]]
        # Global labels configuration
        [[- with $.Tags ]]
    global_labels = {
            [[- range $key, $value := . ]]
        "[[ $key ]]" = "[[ $value ]]"
            [[- end ]]
    }
        [[- end ]]
    [[- end ]]
}

[[- end ]]

[[- if .Terraform.HasProvider "digitalocean" ]]
module "docean_compute" {
    source = "github.com/bitshifted/liftoff-tf-modules//digitalocean-compute?ref=v1.5.0"
     [[ with .ProcessingVars ]]
    [[/* Configuration for docean server */]]
        [[- with .docean_server_config ]]
    docean_server_config = {
            [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        region = "[[ . ]]"
            [[- end ]]
         user_data_file_path =  "[[- or .user_data_file_path "./cloud-config.yaml" ]]"
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .enable_public_ipv6 ]]
        enable_public_ipv6 = [[ . ]]
            [[- end ]]
            [[- with .tags ]]
        tags = [
            [[- range . ]]
            "[[ . ]]",
            [[- end ]]
        ]
            [[- end ]]
            [[- with .resize_disk ]]
        resize_disk = [[ . ]]
            [[- end ]]
            [[- with .enable_backups ]]
        enable_backups = [[ . ]]
            [[- end ]]
            [[- with .vpc_name ]]
        vpc_name = "[[ . ]]"
            [[- end ]]
            [[- with .project_name ]]
        project_name = "[[ . ]]"
            [[- end ]]
             [[- with .dns_zone ]]
        dns_zone = "[[ . ]]"
            [[- end ]]
             [[- with .num_servers ]]
        num_servers = [[ . ]]
            [[- end ]]

    }
        [[- end ]]
    [[/*  end configuration for docean_server_config   */]]
    [[/* Configuration for docean server list */]]
        [[- with .docean_server_list ]]
    docean_server_list = [
            [[- range . ]]
        {
            [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        region = "[[ . ]]"
            [[- end ]]
        user_data_file_path =  "[[- or .user_data_file_path "./cloud-config.yaml" ]]"
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .enable_public_ipv6 ]]
        enable_public_ipv6 = [[ . ]]
            [[- end ]]
            [[- with .tags ]]
        tags = [
            [[- range . ]]
            "[[ . ]]",
            [[- end ]]
        ]
            [[- end ]]
            [[- with .resize_disk ]]
        resize_disk = [[ . ]]
            [[- end ]]
            [[- with .enable_backups ]]
        enable_backups = [[ . ]]
            [[- end ]]
            [[- with .vpc_name ]]
        vpc_name = "[[ . ]]"
            [[- end ]]
            [[- with .project_name ]]
        project_name = "[[ . ]]"
            [[- end ]]
             [[- with .dns_zone ]]
        dns_zone = "[[ . ]]"
            [[- end ]]
        },
            [[- end ]]
    ]
        [[- end ]]        
    [[/* end configuration for docean_server_list */]]
    [[- end ]]
}

[[- if  .ProcessingVars.use_docean_dns ]]
module "docean_dns" {
    source = "github.com/bitshifted/liftoff-tf-modules//digitalocean-dns?ref=v1.5.0"
    do_dns_records = [for key,srvi in local.all_srv_info: {
        zone = srvi.dns_zone
        type = "A"
        name = key
        value = srvi.public_ip_v4
    } ]
}
[[- end ]]
    
[[- end ]]

[[- if .Terraform.HasProvider "hetznerdns" ]]
module "hetznerdns" {
    source = "github.com/bitshifted/liftoff-tf-modules//hetzner-dns?ref=v1.5.0"
    hcloud_dns_records = [for key,srvi in local.all_srv_info: {
        zone = srvi.dns_zone
        type = "A"
        name = key
        value = srvi.public_ip_v4
    } ]
}
[[- end ]]

[[- if .Terraform.HasProvider "cloudflare" ]]
module "cloudflare_dns" {
    source = "github.com/bitshifted/liftoff-tf-modules//cloudflare-dns?ref=v1.5.0"
    cf_dns_records = [for key,srvi in local.all_srv_info: {
        zone = srvi.dns_zone
        type = "A"
        name = key
        value = srvi.public_ip_v4
    } ]
}
[[- end ]]
