[[- with .Terraform.Backend -]]
terraform {
  backend "[[ .Type ]]" {
    [[- with .Local ]]
    path = "[[ .Path ]]"
    workspace_dir = "[[ .Workspace ]]"
    [[- end ]]
  }
}
[[- end ]]

[[- if .Terraform.HasProvider "hcloud" -]]
module "hcloud_compute" {
    source = "github.com/bitshifted/liftoff-tf-modules//hcloud-compute?ref=v1.0.1"
    [[- with .ProcessingVars ]]
        [[- with .hcloud_server_config ]]
    hcloud_server_config = {
            [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        location = "[[ . ]]"
            [[- end ]]
            [[- with .datacenter ]]
        datacenter = "[[ . ]]"
            [[- end ]]
            [[- with .user_data_file_path ]]
        user_data_file_path = "./cloud-config.yaml"
            [[- end ]]
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .enable_public_ipv4 ]]
        enable_public_ipv4 = [[ . ]]
            [[- end ]]
             [[- with .enable_public_ipv6 ]]
        enable_public_ipv6 = [[ . ]]
            [[- end ]]
            [[- with .labels ]]
        labels = {
                [[- range $key, $value := . ]]
            "[[ $key ]]" = "[[ $value ]]"
                [[- end ]]
        }
            [[- end ]]
            [[- with .keep_disk ]]
        keep_disk = [[ . ]]
            [[- end ]]
            [[- with .enable_backups ]]
        enable_backups = [[ . ]]
            [[- end ]]
            [[- with .enable_delete_protection ]]
        enable_delete_protection = [[ . ]]
            [[- end ]]
            [[- with .private_networks ]]
        private_networks = [
                [[- range . ]]
            "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .num_servers ]]
        num_servers = [[ . ]]
            [[- end ]]
    }
        [[- end ]]
        [[- with .hcloud_server_list ]]
    hcloud_server_list = [
            [[- range . ]]
        {
                [[- with .server_name ]]
        server_name = "[[ . ]]"
            [[- end ]]
            [[- with .os_image ]]
        os_image = "[[ . ]]"
            [[- end ]]
            [[- with .instance_type ]]
        instance_type = "[[ . ]]"
            [[- end ]]
            [[- with .location ]]
        location = "[[ . ]]"
            [[- end ]]
            [[- with .datacenter ]]
        datacenter = "[[ . ]]"
            [[- end ]]
            [[- with .user_data_file_path ]]
        user_data_file_path = "./cloud-config.yaml"
            [[- end ]]
            [[- with .ssh_key_names ]]
        ssh_key_names = [
                [[- range . ]]
                "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
            [[- with .enable_public_ipv4 ]]
        enable_public_ipv4 = [[ . ]]
            [[- end ]]
             [[- with .enable_public_ipv6 ]]
        enable_public_ipv6 = [[ . ]]
            [[- end ]]
            [[- with .labels ]]
        labels = {
                [[- range $key, $value := . ]]
            "[[ $key ]]" = "[[ $value ]]"
                [[- end ]]
        }
            [[- end ]]
            [[- with .keep_disk ]]
        keep_disk = [[ . ]]
            [[- end ]]
            [[- with .enable_backups ]]
        enable_backups = [[ . ]]
            [[- end ]]
            [[- with .enable_delete_protection ]]
        enable_delete_protection = [[ . ]]
            [[- end ]]
            [[- with .private_networks ]]
        private_networks = [
                [[- range . ]]
            "[[ . ]]",
                [[- end ]]
        ]
            [[- end ]]
        },
            [[- end ]]
    ]
        [[- end ]]
        [[- with $.Tags ]]
    global_labels = {
            [[- range $key, $value := . ]]
        "[[ $key ]]" = "[[ $value ]]"
            [[- end ]]
    }
        [[- end ]]
    [[- end ]]
}
[[- end ]]