---
- name: Configure MySQL server
  hosts: all
  become: true
  roles:
   
    - role: mysql
      [[- with .ProcessingVars.mysql_port ]]
      mysql_port: [[ . ]] 
      [[- end ]]
      [[- with .ProcessingVars.localhost_only ]]
      localhost_only: [[ . ]] 
      [[- end ]]
      operations:
      [[- range .ProcessingVars.operations ]]
        - [[ . ]]
      [[- end ]]
[[- if not .ProcessingVars.localhost_only ]]
    - role: ufw
      [[ with .ProcessingVars.ssh_allowed_ip ]]ssh_allowed_ip: "[[ . ]]" [[- end ]]
      ufw_rules:
      [[- range .ProcessingVars.server_info ]]
        [[- range .private_net_info ]]
        - port: [[ or $.ProcessingVars.mysql_port 3306 ]]
          proto: "tcp"
          from_ip: [[ .ip_range ]]
        [[- end ]]
      [[- end ]]
[[  end ]]